<div class="container">		
	<div class="row">					
		<div class="col-md-12">	
		
		<div class="alert alert-success">		
			<span class="result-string"><%= "#{@number}" %></span>
			converts => 
			<span class="result-string"><%= "#{@number.humanize}" %></span>
		</div>
			
		</div>
	</div>	

	<div class="row">					
		<div class="col-md-4">									
			<%= render "form" %>											
		</div>		
	</div>
</div>		
